# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives that this notebook covered :

- Understand popular languages used by datascientists
- Know principals languages used by datascientists
- Understand what is Jupiter and how to use it
- Understand notion of cells for executing codes and markdowns (titles, texts, tables)

Some of the popular languages that Data Scientists use are:
- Python
- R
- Scala

Some of the commonly used libraries used by Data Scientists include:

- Scikit-learn
- Tensorflow
- Pandas
- Seaborn
- Numpy

| Data science tools |
|--------------------|
| Python             | 
| R                  | 
| TensorFlow         | 
| PyTorch            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers 

(3*4)+5

17

In [7]:
# 9. This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60

hours

3.3333333333333335

## Author's name : John Kayangi Akilimali